{
    cert_issuer acme https://step-ca:9000/acme/{$CADDY_ACME_PROVISIONER}/directory {
        trusted_roots /home/step/certs/root_ca.crt
    }
}

{$PUBLIC_DOMAIN} {
    handle /acme/* {
        reverse_proxy https://step-ca:9000 {
            transport http {
                tls_server_name step-ca
                tls_trust_pool file /home/step/certs/root_ca.crt
            }
        }
    }

    handle {
        reverse_proxy step-ui:3000
    }
}
